/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/ProductSans-Bold.woff2') format('woff2'),
      url('/fonts/ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/ProductSans-Regular.woff2') format('woff2'),
      url('/fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  transition: all 0.5s;
}

